# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\OSPanel\node-project\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
